// Header
header.header
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="./index.html")
            i.fab.fa-bootstrap.fa-lg.mr-2
            | Front End Scaffolding
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href="./index.html")
                        | Home
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="./about.html") About

    // Navbar
// /Header
