extends ../layouts/app
block content
    // Home
    section.home
        .text-center
            img(src="./images/pug.png")
            h1 Welcome To Home Page.
            p.lead
                | You can use &nbsp;
                a(href="https://html2pug.now.sh" target="_blank") html2pug.now.sh &nbsp;
                | to convert html code to pug.
    // /Home
