doctype html
html(lang="en", dir="ltr")
    include ./partials/head.pug
    body
        include ./partials/header
        // Page Container
        .container
            block content
        // /Page Container
        include ./partials/footer.pug

